<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% load static %}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Fashionline</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="{% static 'css/coin-slider.css' %}" />
<script type="text/javascript" src="{% static 'js/cufon-yui.js' %}"></script>
<script type="text/javascript" src="{% static 'js/droid_sans_400-droid_sans_700.font.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery-1.4.2.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/script.js' %}"></script>
<script type="text/javascript" src="{% static 'js/coin-slider.min.js' %}"></script>
</head>
<body>
<div class="main">
  <div class="header">
    <div class="header_resize">
      <div class="menu_nav">
        <ul>
          <li class="active"><a href="index.html"><span>Home Page</span></a></li>
          <li><a href="/user_login"><span>Login/Register</span></a></li>
          <li><a href="about.html"><span>About Us</span></a></li>
          <li><a href="contact.html"><span>Contact Us</span></a></li>
          <li><a href="/admin_login"><span>Admin</span></a></li>
            <li><a href="/company_login"><span>Company</span></a></li>
        </ul>
      </div>
      <div class="logo">
        <h1><a href="">Job<span>Portal</span> <small>Lets go together</small></a></h1>
      </div>
      <div class="clr"></div>
      <div class="slider">images
        <div id="coin-slider"> <a href="#"><img src="{% static 'images/career.jpg' %}" width="940" height="310" alt="" /> </a>
          <a href="#"><img src="{% static 'images/slide2.jpg' %}" width="940" height="310" alt="" /> </a>
          <a href="#"><img src="{% static 'images/career1.jpg' %}" width="940" height="310" alt="" /> </a> </div>
        <div class="clr"></div>
      </div>
      <div class="clr"></div>
    </div>
  </div>

</div>
</body>
</html>
