<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% include 'adminsidebar.html' %}
<div class="container">
<table class="table align-middle mb-0 bg-white">
  <thead class="bg-light">
    <tr>
      <th>Name</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
  {% for i in d %}
    <tr>
      <td>
        <div class="d-flex align-items-center">
          {{i.categoryname}}

        </div>
      </td>
      <td>
        <p class="fw-normal mb-1">{{i.categorystatus}}</p>

      </td>

      <td>
        <a type="button" class="btn btn-link btn-sm btn-rounded">
          Edit
        </a>
      </td>
        <td>
        <a type="button" class="btn btn-link btn-sm btn-rounded">
          Delete
        </a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
  </div>
</body>
</html>